<nav class="navbar navbar-default">
	<div class="container-fluid">
    	<div class="row">
        	<div class="col-sm-12 col-md-12 col-lg-12">
		    	<header class="navbar-header">
		              <!-- <button type="button" class="navbar-toggle" data-ng-init="isCollapsed = true" data-ng-click="isCollapsed = !isCollapsed" data-ng-show="isUserActive == true" aria-expanded="false">
		                <span class="sr-only">Toggle navigation</span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		              </button> -->
		        <img src="img/logo.png" alt="Logo" class="img-responsive"/>
		        </header>
		            <!-- <menu class="navbar-collapse nav navbar-nav navbar-right" data-ng-class="{collapse: isCollapsed}" data-ng-show="isUserActive == true">
		                <menuitem class="dropdown">
		                    <button class="btn btn-default dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings<span class="caret"></span></button>
		                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		                        <li><span class="glyphicon glyphicon-user" aria-hidden="true"></span></li>
		                        <li role="separator" class="divider"></li>
		                        <li><span class="glyphicon glyphicon-off" aria-hidden="true"></span></li>
		                    </ul>
		                </menuitem>
		            </menu> -->
	    	</div>
		</div>
	</div>
</nav>